section {
    visibility: hidden;
    &.active {
	visibility: visible;
	position: absolute;
	top: 0px;
	
    }
}
.changephoto {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: bold;
}
